<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Academusoft 1.0</title>
    @* Scripts *@
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Assets/js/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>ACADEMUSOFT 1.0</h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>
        <footer>
            <div class="text-center">
                <hr />
                <div class="well well-sm">
                    Ejemplo desarrollado por <a href="http://anexsoft.com">Anexsoft</a>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Assets/js/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
