@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlgunMetodoHeavy</title>
</head>
<body>
    <div>
        Este es cargado despues de un tiempo...
    </div>
</body>
</html>
