@model IEnumerable<Proyecto.Models.SP_Profesor_Materia>

@{
    ViewBag.Title = "Query_Profesor";
    Layout = "~/Views/_LayoutProject.cshtml";
}
<br /><br />
<h2>Query_Profesor</h2>

<table align="center" class="table table-hover table-condensed" style="width:600px;">
    <tr>
        <th>Profesor ID</th>
        <th>Profesor Nombre</th>
        <th>Materia Nombre</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(i => item.ProfesorId)</td>
            <td>@Html.DisplayFor(i => item.ProfesorNombre)</td>
            <td>@Html.DisplayFor(i => item.MateriaNombre)</td>
        </tr>
    }
</table>