@model Model.Alumno

@{
    ViewBag.Title = Model.Nombre_Alumno + " " + Model.Apellido_Alumno;
}

<ol class="breadcrumb">
    <li><a href="~/">Alumnos</a></li>
    <li class="active">@(Model.Nombre_Alumno + " " + Model.Apellido_Alumno)</li>
</ol>


<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Información Personal</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Nombres:</dt>
            <dd>@Model.Nombre_Alumno</dd>
            <dt>Apellidos:</dt>
            <dd>@Model.Apellido_Alumno</dd>
        </dl>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Asignaturas Seleccionadas</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @foreach(var c in Model.Cursos)
            {
                <li class="list-group-item">@c.Nombre_Curso</li>
            }
        </ul>
    </div>
</div>

