
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1> Customer Express </h1> <br /><br />
        @Html.ActionLink("Customer", "Index", "Customer") <br /><br />
        @Html.ActionLink("Product", "Index", "Product" )
    </div>
</body>
</html>
