@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h2>Ha ocurrido el siguiente error</h2> <br />
        <h6 style="color:red">Detalle: @Model.Exception</h6>

    </div>
</body>
</html>
